@import './../../assets/styles/colors';
@import './../../assets/styles/animations';



.status-column {

    .task-box {
        width: 100%;
        background-color: #fff;
        margin: 10px 16px 0;
        padding: 8px 12px;
        box-shadow: 0 4px 10px rgba(0,0,0, 0.2);
        border-radius: 16px;
        transition: 0.2s;
        opacity: 0;
        animation: appear-top 0.2s 0.1s ease-in-out forwards;
        height: auto;
        cursor: pointer;
    
        .task-box-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 36px;
            margin-bottom: 0;
            position: relative;

            
            .task-box-menu {    
                display: none;
                font-size: 1.2em;
                position: absolute;
                animation: appear-right-absolute 0.3s ease-out;
    
                > * {
                    cursor: pointer;
                    padding: 0px 10px;
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }

        }

        .task-box-content {
            cursor: pointer;
            margin-top: -8px;
            p {
                margin: 5px 0;
            }
            small {
                margin: 0;
            }
            .task-box-id {
                font-weight: 600;
                padding: 0 6px 0 0;
                border-radius: 999px;
                opacity: 0.5;
            }
        }
        
        
    
        &:hover {
            box-shadow: 0 8px 15px rgba(0,0,0, 0.3);
            .task-box-header{
                .task-box-menu {    
                    display: flex;
                    right: 0; 
                }
            }
            
        }
    
    }

    &.create {
        .task-box {
            .pill {
                border: solid 1px $create-dark;
                color: $create-dark;
            }
            &:hover {
                .pill {
                    background-color: $create;
                    border-color: $create;
                }
            }
        }        
    }
    &.incurs {
        .task-box {
            .pill {
                border: solid 1px $incurs-dark;
                color: $incurs-dark;
            }
            &:hover {
                .pill {
                    background-color: $incurs;
                    border-color: $incurs;
                }
            }
        }   
        
    }
    &.finalizate {
        .task-box {
            .pill {
                border: solid 1px $finalizate-dark;
                color: $finalizate-dark;
            }
            &:hover {
                .pill {
                    background-color: $finalizate;
                    border-color: $finalizate;
                }
            }
        }  
        
    }

}

