@import './../../assets/styles/animations';

#filters {
    display: flex;
    width: 100%;
    justify-content: space-between;
    button{
        margin-right: 0;
    }
    label {
        margin-left: 10px;
    }
    
}