@import './assets/styles/_colors.scss';


body {

    background-color: #a6afbe;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 500;
    font-size: 14px;
    display: block;
    font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    ::-webkit-scrollbar {
        width: 4px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    

    .btn {
        background-color: $btn-color-1;
        color: white;
        outline: 0;
        transition: 0.2s;
        border: none;
        padding: 12px 24px;
        border-radius: 15px;
        margin-right: 10px;


        &:hover {
            outline: 0;
            opacity: 0.9;
        }
        &:focus {
            outline: 0;
        }
        &:disabled {
            background-color: #aaaaaa;            
        }

        &.btn-delete {
            background-color: transparent;
            color: $error;
            &:hover {
                background-color: $gray2;
                opacity: 0.6;
            }
        }
    }

    input {
        border: none;
        padding: 10px 16px;
        border-radius: 10px;
        margin-left: 8px;
        margin-right: 15px;
        cursor: pointer;
        font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

        &[type=text]{
            cursor: text;
        }
    }

    textarea {
        border: none;
        padding: 10px 16px;
        border-radius: 10px;
        margin-left: 8px;
        margin-right: 15px;
        cursor: pointer;
        font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        width: 100%;
        box-sizing: border-box;
        &[type=text]{
            cursor: text;
        }
    }

    select {
        border: none;
        padding: 10px 16px;
        border-radius: 10px;
        margin-left: 8px;
        margin-right: 15px;
        min-width: 100px;
        cursor: pointer;
        font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        
        option {
            border: none;
        }
    }

    .pill {
        font-size: 0.8em;
        font-weight: 600;
        background-color: transparent;
        display: inline-block;
        padding: 2px 8px;
        border-radius: 999px;
        border: solid 1px gray;
        transition: 0.2s;
    }

    .error {
        color: $error;
    }

    .calendarWrap {
        display: inline-block;
    }
        
    .calendarElement {
        border: none;
        padding: 12px 16px;
        border-radius: 10px;
        margin-left: 8px;
        margin-right: 15px;
        cursor: pointer;
        font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

        &[type=text]{
            cursor: text;
        }

    }

    .react-datepicker {
        font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        background: white;
        border: none;
        padding: 10px;
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        animation: appear-top 0.2s forwards;
        min-height: 286px;

        .react-datepicker__header {
            background-color: transparent;
            padding: 16px 0
        }

    }
    
    .react-datepicker__triangle{
        fill: white;
        color: white;
    }
    
    h1 {
        font-size: 2.4em;
    }
    
    #root {
        #app {
            display: flex;
            flex-wrap: wrap;
            align-items: start;
            width: 100%;

            #header {
                padding: 0 5%;
                h1 {
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
    
            #board {
                padding: 0 5%;
                margin-top: 30px;
                width: 100%;
                max-width: 1300px;
                
                .board-columns {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 20px;
                    margin-bottom: 30px;


                    .status-column {
                        padding: 0;
                        background-color: #f3f3f3;
                        border-radius: 30px;
                        width: 100%;
                        overflow: overlay;

                        .column-container{
                            overflow: overlay;
                            max-height: 60vh;
                            min-height: 500px;
                            transition: 0.3s;

                            .column-header {
                                background-color: green;
                                display: block;
                                font-weight: 600;
                                margin: 5%;
                                padding: 3%;
                                border-radius: 16px;
                                box-sizing: border-box;

                                margin: 0;
                                border-radius: 0;
                                padding-top: 15px;
                                padding-left: 5%;
    
                                h3{
                                    color: rgb(0, 0, 0);
                                    opacity: 0.6;
                                    margin: 0;
                                }
    
                            }
                            .no-tasks-ui{
                                font-size: 1em;
                                padding: 0 6%;
                                font-weight: 500;
                                opacity: 0.6;
                            }
                        }

                        
                        

                        &.create {
                            .column-header {
                                background-color: $create;
                            }
                            
                        }
                        &.incurs {
                            .column-header {
                                background-color: $incurs;
                            }
                            
                        }
                        &.finalizate {
                            .column-header {
                                background-color: $finalizate;
                            }
                            
                        }
                    }
                }

                .board-actions{
                    margin-bottom: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    
                    > * {
                        display: inline-block;
                        margin-right: 20px;
                    }
                }
            }
        }
    }
    
}
