@import './assets/styles/_colors.scss';
@import './assets/styles/breakpoints';


body {

    background-color: #a6afbe;
    line-height: 1.5;
    font-weight: 500;
    font-size: 14px;
    display: block;
    font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    ::-webkit-scrollbar {
        width: 4px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    

    .btn {
        background-color: $btn-color-1;
        color: white;
        outline: 0;
        transition: 0.2s;
        border: none;
        padding: 12px 24px;
        border-radius: 15px;
        margin-right: 10px;


        &:hover {
            outline: 0;
            opacity: 0.9;
        }
        &:focus {
            outline: 0;
        }
        &:disabled {
            background-color: #aaaaaa;            
        }

        &.btn-delete {
            background-color: transparent;
            color: $error;
            &:hover {
                background-color: $gray2;
                opacity: 0.6;
            }
        }
    }

    input {
        border: none;
        padding: 10px 16px;
        border-radius: 10px;
        margin-left: 8px;
        margin-right: 15px;
        cursor: pointer;
        font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

        &[type=text]{
            cursor: text;
        }
    }

    textarea {
        border: none;
        padding: 10px 16px;
        border-radius: 10px;
        margin-left: 8px;
        margin-right: 15px;
        cursor: pointer;
        font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        width: 100%;
        box-sizing: border-box;
        &[type=text]{
            cursor: text;
        }
    }

    select {
        border: none;
        padding: 10px 16px;
        border-radius: 10px;
        margin-left: 8px;
        margin-right: 15px;
        min-width: 100px;
        cursor: pointer;
        font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        
        option {
            border: none;
        }
    }

    .pill {
        font-size: 0.8em;
        font-weight: 600;
        background-color: transparent;
        display: inline-block;
        padding: 2px 8px;
        border-radius: 999px;
        border: solid 1px gray;
        transition: 0.2s;
    }

    .error {
        color: $error;
    }

    .calendarWrap {
        display: inline-block;
    }
        
    .calendarElement {
        border: none;
        padding: 12px 16px;
        border-radius: 10px;
        margin-left: 8px;
        margin-right: 15px;
        cursor: pointer;
        font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

        &[type=text]{
            cursor: text;
        }

    }

    .react-datepicker {
        font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        background: white;
        border: none;
        padding: 10px;
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        animation: appear-top 0.2s forwards;
        min-height: 286px;

        .react-datepicker__header {
            background-color: transparent;
            padding: 16px 0
        }

    }
    
    .react-datepicker__triangle{
        fill: white;
        color: white;
    }
    
    h1 {
        font-size: 2.4em;
    }
    
    #root {
        #app {
            display: flex;
            flex-wrap: wrap;
            align-items: start;
            width: 100%;

            #header {
                padding: 0 5%;
                h1 {
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
    
            #board {
                padding: 0 5%;
                margin-top: 30px;
                width: 100%;
                max-width: 1200px;

                
                
                .board-columns {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 20px;
                    margin-bottom: 30px;


                    .status-column {
                        padding: 0;
                        background-color: #f3f3f3;
                        border-radius: 30px;
                        width: 100%;
                        overflow: hidden;
                        max-height: 67vh;
                        transition: 0.2s;

                        .column-header {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            font-weight: 600;
                            margin: 5%;
                            padding: 3%;
                            border-radius: 16px;
                            box-sizing: border-box;

                            margin: 0;
                            border-radius: 0;
                            padding-top: 15px;
                            padding-left: 5%;

                            h3{
                                color: rgb(0, 0, 0);
                                opacity: 0.6;
                                margin: 0;
                            }

                            .task-count {
                                opacity: 0.7;
                                margin-right: 10px;
                                font-size: 1.1em;
                                width: 20px;
                                text-align: center;
                                border-width: 1px;
                            }

                        }

                        .column-container {
                            overflow: overlay;
                            max-height: 60vh;
                            min-height: 500px;
                            transition: 0.3s;
                            display: flex;
                            flex-wrap: wrap;
                            align-content: start;
                            justify-content: start;

                            
                            .no-tasks-ui{
                                font-size: 1em;
                                padding: 0 6%;
                                font-weight: 500;
                                opacity: 0.6;
                            }
                        }

                        

                        
                        

                        &.create {
                            .column-header {
                                background-color: $create;
                            }
                            
                        }
                        &.incurs {
                            .column-header {
                                background-color: $incurs;
                            }
                            
                        }
                        &.finalizate {
                            .column-header {
                                background-color: $finalizate;
                            }
                            
                        }


                        
                        
                    }
                    //mobile
                    
                }

                .board-tabs{
                    display: none;
                }

                @media screen and (max-width: $l) {
                    .board-tabs{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        margin: 0 auto;
                        > * {
                            text-align: center;
                            width: 32%;
                            margin-bottom: 12px;
                            height: 45px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            box-sizing: border-box;
                            background-color: white;
                            border-radius: 12px ;
                            font-weight: 400;
                            transition: 0.2s;
                            cursor: pointer;
                            opacity: 0.4;
                            color: white;

                            &.active {
                                opacity: 1;
                                font-size: 1.2em;
                            }
                            &.create { background-color: $create-dark;    }
                            &.incurs { background-color: $incurs-dark;    }
                            &.finalizate { background-color: $finalizate-dark;    }
                        }
                    }
                    .board-columns {
                        grid-template-columns: 1fr;
                        .status-column {
                            display: inline-block;
                            flex-wrap: wrap;
                            display: none;
                            margin-top: 20px;
                            align-self: center;
                            
                            .column-header {
                                display: none;
                            }
                            .column-container {
                                padding-top: 10px;
                            }
                            &.active {
                                width: 100%;
                                display: inline-block;
                                height: auto;
                                padding: 0 0 10px 0;
                                left: 0;
                                margin-top: 0;
                            }
                        }
                    }
                }

                @media screen and (max-width: $s) {

                    .board-tabs{
                        
                        > * {
                            font-size: 0.8em;
                            padding: 0;
                            
                            &.active {
                                opacity: 1;
                                font-size: 1em;
                            }
                            &.create { background-color: $create-dark;    }
                            &.incurs { background-color: $incurs-dark;    }
                            &.finalizate { background-color: $finalizate-dark;    }
                        }
                    }

                }

                .board-actions{
                    margin-bottom: 20px;
                    display: inline-block;
                    width: 100%;
                    background-color: white;
                    padding: 10px;
                    background-color: $gray1;
                    border-radius: 20px;
                    box-sizing: border-box;    
                }
            }
        }
    }
    
}
