$create: #baceff;
$incurs: #ffd381;
$finalizate: #94ed91;

$create-dark: #435581;
$incurs-dark: #b35c00;
$finalizate-dark: #477522;

$error: #831d0b;
$invalid: #b73e28;

$gray1: #f4f4f4;
$gray2: #e4e6e9;
$gray3: #adb0b8;
$gray4: #4b4d52;

$btn-color-1: #3d3550;